<div class="container mx-auto">
  <div class="header mx-auto mt-5">Наши работы:</div>
  {{#if isAuth}}
  <div class='btn-portfolio-admin'>
    <a href="/portfolio/add" class="btn btn-primary mt-4">+ Добавить</a>
  </div>
  {{/if}}
  <div class="row mx-auto">

     {{#each portfolios}}

    <div class="col-lg-4">
      <div class="card mt-4 mx-auto" style="width: 18rem;">
        <a href="#" data-toggle="modal" data-target="#r{{this._id}}">
          <img
            src="/img/{{this.image}}"
            class="card-img-top" alt="img">
        </a>

      </div>
    </div>

    <div class="modal fade" id="r{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{this._id}}"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-auto">
            <a href="#{{this._id}}" data-toggle="modal" data-dismiss="modal">
              <img
                src="/img/{{this.image}}"
                class="card-img-top modal-img" alt="img1.jpg">
            </a>
          </div>

        </div>
      </div>
    </div>
    
      {{/each}}


  </div>
</div>
